* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  background-image: linear-gradient(to left top, #f3eeee, #f3eeee, #f3eeee, #f3eeee, #f3eeee, #ede8e8, #e6e2e2, #e0dcdc, #d2cece, #c5c1c1, #b7b3b3, #aaa6a6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header {
  max-width: 750px;
  margin: 0px auto;
  text-align: center;
}

.intro-copy {
  font-size: 18px;
  margin-top: 20px;
  line-height: 22px;
}

h1 {
  padding: 20px 0 0 0;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:hover {
  text-decoration: underline;
}

h2 {
  padding: 0 0 20px 0;
}

.band-list-fieldset {
  margin: 15px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: inline-flex;
  margin: 0 0 5px 0;
}

main {
  width: 100%;
 }

fieldset {
  border: none;
}

legend {
  display: none;
}

.add-new-album-toggle {
  margin: 15px 0 0 0;
  font-size: 16px;
}

.add-album-fieldset {
  display: none;
  width: 175px;
  margin: 20px auto 0 auto;
}

.newAlbumInfo {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.js-add-album-button{
  margin: 0 0 15px 0;
  font-size: 16px;
}

.js-search-results {
  margin: 0 auto;
  text-align: center;
}

.js-most-recent {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1050px;
}

.error-messaging {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px 0;
}

.album-name, .band-name {
  width: 200px;
  text-align: left;
}

.format, .release-year {
  width: 100px;
  text-align: left;
}

.notes {
  width: 300px;
  text-align: left;
}

.remove-update-buttons {
  min-width: 75px;
}

.remove-album, .update-album, .save-album, .cancel-album, .band-list {
  font-size: 16px;
}

.update-album-list {
  margin-left: -29px;
}

#update-album-name, #update-band-name {
  min-width: 200px;
  font-size: 16px;
}

#update-format, #update-release-year {
  width: 100px;
  font-size: 16px;
}

#update-notes {
  min-width: 300px;
  font-size: 16px;
}

.record-store {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.record-store img {
  border-radius: 15px;
}

@media only screen and (max-width: 1099px) {
  h2 {
    padding: 0 5px 15px;
  }

  .js-most-recent {
    border: none;
  }
  
  .band-list {
    display: block;
    margin: 10px auto 0;
  }

  .band-list-label, .intro-copy {
    padding: 0 10px;
    text-align: center;
  }

  .album-name, .band-name, .notes {
    min-width: 200px;
    margin: 2px 0;
    padding-right: 10px;
  }
  
  .format, .release-year {
    min-width: 100px;
    margin: 2px 0;
    padding-right: 10px;    
  }
   
  #update-notes {
    min-width: 200px;
  }
  
  ul {
    list-style-type: none;
    margin: 0 auto 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    border-radius: 11px;
  }
    
  li {
    display: block;
    margin: 0 auto 5px auto;
    text-align: left;
    width: 300px;
  }

  .update-album-list {
    border: 0;
    margin-left: 0;
    padding: 10px 0;
  }

  .record-store img {
    width: 80%;
  }  
}